<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
       <!--<link rel="stylesheet" href="styles/style.css" /> -->
        <title>KB FanPage About</title>
        <link rel ="stylesheet" href="./styles/style.css">
      </head>
    <body>
        <nav class = "flex3">
            <a class = "buttonLooking2" href="http://localhost:3000/">HOME</a>
            <a class = "buttonLooking2" href="http://localhost:3000/about">ABOUT</a>
            <a class = "buttonLooking2" href="http://localhost:3000/works">WORKS</a>
        </nav>
        <header>
            <h1>KALE BROCK -<span> KB</span></h1>
            <h3><span>The man the legend.</span><i> Who is KB?</i> </h3>
        </header>
        <main>
            <img class = "imgNormal" src = './img/portrate2.png' alt="portrate">
            <br>
            <br>
            <br>
            <hr>
            <section class = "flexyflex">
                <div>
                <p class ="centerParagraph">Kale Brock is an award nominated writer, producer and speaker. With a background in TV journalism, Kale has a passion for creative story telling with a special interest in health, wellbeing & surfing.</p>
                <p class ="centerParagraph">Born and raised in Autralia Kale has trained thousands of surfers worldwide. All thanks to his online courses which are carefuly designed to teach students all the way from beginners to pro surfers</p>
                <p class ="centerParagraph"><i>"You can improve your surfing by learning it theoretically. I believe I am proof of that and I now have thousands of students from all over the world who can attest to it." - Kale Brock</i></p>
                </div>
                <img class = "imgNormal2" src = './img/img2.png' alt="portrate">
            </section>
        </main>

        <footer>

        </footer>
        <script src="../app.js"></script>
    </body>
</html>









