<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KB Home Page</title>
    <link rel ="stylesheet" href="./styles/style.css">
</head>
<body>
    <nav class = "flex3">
        <a class = "buttonLooking2" href="http://localhost:3000/">HOME</a>
        <a class = "buttonLooking2" href="http://localhost:3000/about">ABOUT</a>
        <a class = "buttonLooking2" href="http://localhost:3000/works">WORKS</a>
    </nav>
    <header>
        <br>
        <br>
        <h1>KALE BROCK</h1>
        <p><span>PRO SURFER</span> FILM MAKER & COACH</p>
    </header>
    <main>
        <br>
        <img class = "imgNormal" src = './img/kaleBrockHome.jpg' alt="portrate">
        <h1>Dive Deeper</h1>
        <p>Click on the button below and start your journey to becoming a pro surfer</p>
        <br>
        <br>
        <br>
        <a class = "buttonLooking" href="https://surfersroadmap.teachable.com/">The surfers Roadmap</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img class = "imgNormal" src = './img/img1.png'>

    </main>

    <footer> 

    </footer> 

    <script src="../app.js"></script>
    
</body>
</html>