<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KB Works Page</title>
    <link rel ="stylesheet" href="./styles/style.css">
</head>
<body>
    <nav class = "flex3">
        <a class = "buttonLooking2" href="http://localhost:3000/">HOME</a>
        <a class = "buttonLooking2" href="http://localhost:3000/about">ABOUT</a>
        <a class = "buttonLooking2" href="http://localhost:3000/works">WORKS</a>
    </nav>
    <header>
        <h1>KALE BROCK'S WORK</h1>
        <p><span>Surfing</span> Surf Skate & Filming</p>
        <br>
    </header>

    <main>
        <img class = "imgNormal3" src = './img/img10.png'>
        <br>
        <br>
        <br>
        <h3><span>Some of Kale's</span> Top Online Courses </h3>
        <br>
        <hr>
        <section class="flex2">
            <div>
                <img class="imgNormal4" src = './img/img4.png'>
                <p>SURF SKATING</p>
            </div>
            <div>
                <img class="imgNormal4" src = './img/img5.png'>
                <p>SURFING ZERO TO PRO</p>
                <img>
            </div>
            <div>
                <img class="imgNormal4" src = './img/img3.png'>
                <p>STORY TELLING BY IMAGES</p>
                <img>
            </div>







        </section>


    </main>

    <footer>

    </footer>
    <script src="../app.js"></script>
    
</body>
</html>